.font--noto-sans-jp {
  font-family: "Noto Sans JP";
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.25em 0.0875em 0.25em;
  line-height: calc(var(--line-height, 1.5) - 0.0875);
  font-size: var(--font-size, 1em);
}
