/* valid custom properties */
/*
--color--symbol: ;
--font-size--content: ;
--font-size--title: ;
--line-height--title: ;
*/
.material-symbols-outlined {
  display: inline-flex;
  vertical-align: middle;
  gap: 0;
  align-items: center;
  justify-content: center;
  font-size: medium;
  line-height: 1;
  overflow: hidden;

  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
  
  &::before,
  &::after {
    display: flex;
    overflow: hidden;
  }
  
  &:is(.symbol) {
    display: flex;
    vertical-align: baseline;
    color: var(--color--symbol, var(--color--reverse));
    width: 100%;
    font-size: 0 !important;
    
    &[data-content] {
      &::before,
      &[data-content-position="before"]::before,
      &[data-content-position="after"]::after {
        font-size: var(--font-size--content, medium) !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        aspect-ratio: 1 !important;
        content: attr(data-content) !important;
        line-height: 1 !important;
        
        font-variation-settings: 'wght' 300 !important;
      }
      
      &[data-title] {
        &::after,
        &[data-content-position="before"]::after,
        &[data-content-position="after"]::before {
          font-size: var(--font-size--title, medium);
          line-height: var(--line-height--title, normal);
          content: attr(data-title);
          font-family: var(--font-family--theme);
          
          font-variation-settings: 'wght' 400;
        }
      }
    }
    
    &:not([data-content]) {
      &[data-title] {
        &::before {
          font-size: var(--font-size--title, medium);
          line-height: var(--line-height--title, normal);
          content: attr(data-title);
          font-family: var(--font-family--theme);
          
          font-variation-settings: 'wght' 400;
        }
      }
    }
  }
}
