/* ▼container-style▼ */
/*
--check-style: ; [custom]
*/
/* valid custom properties */
/*
--color--check: ;
--aspect-ratio: ;
--border-radius: ; (%)
*/
@scope (.item--check) to ([data-scope]) {
  
  :scope {
    /*align-self: flex-start;*/
    display: inline-block;
    overflow: hidden;
    container-name: check;
    
    :is(label) {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      
      :is(input) {
      position: absolute;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      }
      
      .material-symbols-outlined {
        font-size: 0;
        height: 1.425rem;

        background-color: green;
      }
      
      .material-symbols-outlined::before {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        content: "radio_button_unchecked";
        font-size: 1.225rem;
        color: rgba(var(--color-code--reverse), 0.375);
        /*border: 0.1rem solid transparent;*/
        border: 0.1rem solid orange;
        border-radius: 9999px;
        
        background-color: red;
        
        font-variation-settings:
          'FILL' 0,
          'wght' 300,
          'GRAD' 0,
          'opsz' 24;
      }
      
      :is(span:not(.material-symbols-outlined)) {
        font-size: 1rem;
        line-height: 1.275rem;
        padding: 0 0.25rem;
        
        background-color: blue;
        
        user-select: none;
        
        &::selection,
        &::-moz-selection {
          background:none;
        }
      }
    }
  }
  
  /* check-style:normal */
  @container style(--check-style: normal) {
    & {
      :is(label) {
        
        
        /* checked */
        &:has(input:checked) {
          
          &:has(input[type="checkbox"]) {
            .material-symbols-outlined::before {
              content: "check_circle";
              color: var(--color--check, var(--color--accent));
              
              font-variation-settings: 'FILL' 1;
            }
          }
          
          &:has(input[type="radio"]) {
            .material-symbols-outlined::before {
              content: "radio_button_checked";
              color: var(--color--check, var(--color--accent));
            }
          }
        }

        /* disabled */
        &:has(input:disabled) {
          cursor: auto !important;
          
          .material-symbols-outlined::before {
            color: rgba(var(--color-code--reverse), 0.125) !important;
            border: 0.1rem solid transparent !important;
          }
          
          :is(span:not(.material-symbols-outlined)) {
            color: rgba(var(--color-code--reverse), 0.125) !important;
          }
        }

        /* focus, hover */
        &:is(:hover, :has(input:focus)) {
          
          &:has(input[type="checkbox"]) {
            
            .material-symbols-outlined::before {
              border: 0.1rem solid var(--color--check, var(--color--accent));
            }
            
            &:has(input:checked) {
              
              .material-symbols-outlined::before {
                border: 0.1rem solid rgba(var(--color-code--reverse), 0.375);
              }
            }
          }
          
          &:has(input[type="radio"]) {
            
            .material-symbols-outlined::before {
              border: 0.1rem solid var(--color--check, var(--color--accent));
            }
            
            &:has(input:checked) {
              cursor: auto;
              
              .material-symbols-outlined::before {
                border: 0.1rem solid transparent;
              }
            }
          }
        }
      }
    }
  }
  
  /* check-style:custom */
  @container style(--check-style: custom) {
    & {
      width: 100%;
      aspect-ratio: var(--aspect-ratio, 1);
      border-radius: var(--border-radius, 14%) / calc(var(--border-radius, 14%) * var(--aspect-ratio, 1));
      container-type: inline-size;
      
      :is(label) {
        display: flex;
        align-items: center;
        width: 100%;
        aspect-ratio: var(--aspect-ratio, 1);
        border-radius: var(--border-radius, 14%) / calc(var(--border-radius, 14%) * var(--aspect-ratio, 1));

        .symbol:is(.material-symbols-outlined) {
          height: 100%;
          
          &[data-content] {
            --font-size--content: 86cqw;
            
            border: 2.5cqw solid rgba(var(--color-code--reverse), 0.125);
            border-radius: var(--border-radius, 14cqw);
            
            &[data-title] {
              --font-size--content: 56cqw;
              --font-size--title: 14cqw;
              --line-height--title: normal;
              
              flex-direction: column;
            }
          }
        }

        /* checked */
        &:has(input:checked) {
          .symbol:is(.material-symbols-outlined) {
            color: var(--color--check, var(--color--accent));
            
            &[data-content] {
              border: 2.5cqw solid var(--color--check, var(--color--accent));
            }
          }
        }
        
        /* disabled */
        &:has(input:disabled) {
          cursor: auto !important;
          background-color: transparent !important;

          .symbol:is(.material-symbols-outlined) {
            color: rgba(var(--color-code--reverse), 0.125) !important;
          }
        }

        /* hover, focus */
        &:is(:hover, :has(input:focus)) {
          
          &:has(input[type="checkbox"]) {
            background-color: rgba(var(--color-code--reverse), 0.075);
          }
          
          &:has(input[type="radio"]) {
            background-color: rgba(var(--color-code--reverse), 0.075);
            
            &:has(input:checked) {
              cursor: auto;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
