/* ▼container-style▼ */
/*
--icon-style: ; [outline, tag]
--icon-type: ; [vertical]
--icon-figure: ; [square, circle]
*/
/* valid custom properties */
/*
--color--icon: ;
--aspect-ratio: ;
--border-radius: ; (%)
*/
@scope (.item--icon) to ([data-scope]) {
  :scope {
    /*align-self: flex-start;*/
    width: 100%;
    container-type: inline-size;
    container-name: icon;
    
    .symbol {
      color: var(--color--icon, var(--color--reverse));
      border: 2.5cqw solid transparent;
    }
    
    &:has(.symbol[data-content]) {
      border-radius: var(--border-radius, 14%) / calc(var(--border-radius, 14%) * var(--aspect-ratio, 1));

      .symbol {
        --font-size--content: 86cqw;
        
        aspect-ratio: var(--aspect-ratio, 1);
        border-radius: var(--border-radius, 14%) / calc(var(--border-radius, 14%) * var(--aspect-ratio, 1));
      }
      
      
      &:has(.symbol[data-title]) {
        border-radius: var(--border-radius, 4%) / calc(var(--border-radius, 4%) * var(--aspect-ratio, 7 / 2));
        
        .symbol {
          --font-size--content: 15.5cqw;

          aspect-ratio: var(--aspect-ratio, 7 / 2);
          border-radius: var(--border-radius, 4%) / calc(var(--border-radius, 4%) * var(--aspect-ratio, 7 / 2));
        }
      }
    }
    
    &:has(.symbol[data-title]) {
      border-radius: var(--border-radius, 4%) / calc(var(--border-radius, 4%) * var(--aspect-ratio, 7 / 2));

      .symbol {
        --font-size--title: 12.5cqw;
        --line-height--title: 15.5cqw;

        aspect-ratio: var(--aspect-ratio, 7 / 2);
        border-radius: var(--border-radius, 4%) / calc(var(--border-radius, 4%) * var(--aspect-ratio, 7 / 2));
      }
    }
  }
  
  /* icon-type:vertical */
  @container style(--icon-type: vertical) {
    &:has(.symbol[data-content]) {
      &:has(.symbol[data-title]) {
        border-radius: var(--border-radius, 14%) / calc(var(--border-radius, 14%) * var(--aspect-ratio, 1));

        .symbol {
          --font-size--content: 56cqw;
          --font-size--title: 14cqw;
          --line-height--title: normal;
          
          flex-direction: column;
          aspect-ratio: var(--aspect-ratio, 1);
          border-radius: var(--border-radius, 14%) / calc(var(--border-radius, 14%) * var(--aspect-ratio, 1));
        }
      }
    }
  }
  
  /* icon-style:outline */
  @container style(--icon-style: outline) {
    & {
      .symbol {
        color: var(--color--icon, var(--color--accent));
        border: 2.5cqw solid var(--color--icon, var(--color--accent));
        background-color: transparent;
      }
    }
  }
  
  /* icon-style:tag */
  @container style(--icon-style: tag) {
    & {
      .symbol {
        color: var(--color);
        border: 2.5cqw solid var(--color--icon, var(--color--accent));
        background-color: var(--color--icon, var(--color--accent));
      }
    }
  }
  
  /* icon-figure:square */
  @container style(--icon-figure: square) {
    & {
      --aspect-ratio: 1;
      
      .symbol:is(.material-symbols-outlined) {
        --aspect-ratio: 1;
      }
    }
  }
  
  /* icon-figure:circle */
  @container style(--icon-figure: circle) {
    & {
      --aspect-ratio: 1;
      --border-radius: 9999px;
      
      .symbol:is(.material-symbols-outlined) {
        --aspect-ratio: 1;
        --border-radius: 9999px;
      }
    }
  }
}
