@scope (.component--pagetop) to ([data-scope]) {
  
  @keyframes pagetop {
    0% {
      display: none;
    }
    
    15% {
      display: none;
    }
    
    100% {
      display: block;
    }
  }
  
  :scope {
    container-type: inline-size;
    container-name: pagetop;
    width: 10dvw;
    min-width: 56px;
    max-width: 84px;
    aspect-ratio: 1;
    border-radius: 12%;
    position: fixed;
    right: 0.4rem;
    bottom: 0.8rem;
    z-index: 999;
    animation: linear pagetop;
    animation-timeline: scroll(root);
    
    :is(a) {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 12cqw;
      background-color: rgba(var(--color-code--reverse), 0.15);
      overflow: hidden;
      cursor: pointer;
      
      .material-symbols-outlined {
        display: flex;
        vertical-align: baseline;
        width: 100%;
        height: 100%;
        font-size: 0;
        border-radius: 12cqw;
        color: var(--color--reverse);
      }
      
      .material-symbols-outlined::before {
        align-items: center;
        justify-content: center;
        width: 50cqw;
        height: 50cqw;
        font-size: 50cqw;
        content: "arrow_circle_up";
      }
      
      /* hover, focus */
      &:is(:hover, :focus) {
        background-color: rgba(var(--color-code--reverse), 0.225);
        outline: none;
      }
    }
  }
}
