@scope (.component--pagetop) to ([data-scope]) {
  
  @keyframes pagetop {
    0% {
      display: none;
    }
    
    15% {
      display: none;
    }

    99% {
      display: block;
    }
    100% {
      display: none;
    }
  }
  
  :scope {
    container-type: inline-size;
    container-name: pagetop;
    width: 4rem;
    height: 4rem;
    min-width: 40px;
    min-height: 40px;
    border-radius: 12% 0 0 12%;
    position: fixed;
    right: 0rem;
    bottom: 0.8rem;
    z-index: 999;
    animation: linear pagetop;
    animation-timeline: scroll(root);
    
    :is(a) {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 12cqw 0 0 12cqw;
      background-color: rgba(var(--color-code--accent), 0.75);
      overflow: hidden;
      cursor: pointer;
      
      .material-symbols-outlined {
        display: flex;
        vertical-align: baseline;
        width: 100%;
        height: 100%;
        font-size: 0;
        border-radius: 12cqw 0 0 12cqw;
        color: rgba(var(--color-code), 0.75);
        font-variation-settings:'wght' 400;
      }
      
      .material-symbols-outlined::before {
        align-items: center;
        justify-content: center;
        width: 80cqw;
        height: 80cqw;
        font-size: 80cqw;
        content: "arrow_circle_up";
      }
      
      /* hover, focus */
      &:is(:hover, :focus) {
        outline: none;
        
        .material-symbols-outlined {
          font-variation-settings:'wght' 500;
        }
      }
    }
  }
}
